.solvex_icon_create_product {
    background-image: url('/bundles/pimcoreadmin/img/flat-color-icons/button.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}